/.vs/BackendCoreApi/DesignTimeBuild/.dtbcache
/.vs/BackendCoreApi/v15/.suo
/.vs/BackendCoreApi/v15/Server/sqlite3/db.lock
/.vs/BackendCoreApi/v15/Server/sqlite3/storage.ide
/.vs/BackendCoreApi/v15/Server/sqlite3/storage.ide-shm
/.vs/BackendCoreApi/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/ApplicationHealth/bin/Debug/netcoreapp2.0/ApplicationHealth.deps.json
/ApplicationHealth/bin/Debug/netcoreapp2.0/ApplicationHealth.dll
/ApplicationHealth/bin/Debug/netcoreapp2.0/ApplicationHealth.pdb
/ApplicationHealth/bin/Release/netcoreapp2.0/ApplicationHealth.deps.json
/ApplicationHealth/bin/Release/netcoreapp2.0/ApplicationHealth.dll
/ApplicationHealth/bin/Release/netcoreapp2.0/ApplicationHealth.pdb
/ApplicationHealth/obj/ApplicationHealth.csproj.nuget.cache
/ApplicationHealth/obj/ApplicationHealth.csproj.nuget.g.props
/ApplicationHealth/obj/ApplicationHealth.csproj.nuget.g.targets
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.AssemblyInfo.cs
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.AssemblyInfoInputs.cache
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.csproj.CoreCompileInputs.cache
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.csproj.FileListAbsolute.txt
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.csprojAssemblyReference.cache
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.dll
/ApplicationHealth/obj/Debug/netcoreapp2.0/ApplicationHealth.pdb
/ApplicationHealth/obj/Release/ApplicationHealth.1.0.0.nuspec
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.AssemblyInfo.cs
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.AssemblyInfoInputs.cache
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.csproj.CoreCompileInputs.cache
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.csproj.FileListAbsolute.txt
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.csprojAssemblyReference.cache
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.dll
/ApplicationHealth/obj/Release/netcoreapp2.0/ApplicationHealth.pdb
/ApplicationHealth/obj/project.assets.json
/BackendCoreApi/bin/Debug/netcoreapp2.0/ApplicationHealth.dll
/BackendCoreApi/bin/Debug/netcoreapp2.0/ApplicationHealth.pdb
/BackendCoreApi/bin/Debug/netcoreapp2.0/BackendCoreApi.deps.json
/BackendCoreApi/bin/Debug/netcoreapp2.0/BackendCoreApi.dll
/BackendCoreApi/bin/Debug/netcoreapp2.0/BackendCoreApi.pdb
/BackendCoreApi/bin/Debug/netcoreapp2.0/BackendCoreApi.runtimeconfig.dev.json
/BackendCoreApi/bin/Debug/netcoreapp2.0/BackendCoreApi.runtimeconfig.json
/BackendCoreApi/bin/Debug/netcoreapp2.0/BusinessLogic.dll
/BackendCoreApi/bin/Debug/netcoreapp2.0/BusinessLogic.pdb
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.PrecompiledViews.dll
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.PrecompiledViews.pdb
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.deps.json
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.dll
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.pdb
/BackendCoreApi/bin/Release/PublishOutput/BackendCoreApi.runtimeconfig.json
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.CodeAnalysis.Workspaces.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGeneration.dll
/BackendCoreApi/bin/Release/PublishOutput/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/BackendCoreApi/bin/Release/PublishOutput/NuGet.Frameworks.dll
/BackendCoreApi/bin/Release/PublishOutput/System.Composition.AttributedModel.dll
/BackendCoreApi/bin/Release/PublishOutput/System.Composition.Convention.dll
/BackendCoreApi/bin/Release/PublishOutput/System.Composition.Hosting.dll
/BackendCoreApi/bin/Release/PublishOutput/System.Composition.Runtime.dll
/BackendCoreApi/bin/Release/PublishOutput/System.Composition.TypedParts.dll
/BackendCoreApi/bin/Release/PublishOutput/appsettings.Development.json
/BackendCoreApi/bin/Release/PublishOutput/appsettings.json
/BackendCoreApi/bin/Release/PublishOutput/dotnet-aspnet-codegenerator-design.dll
/BackendCoreApi/bin/Release/PublishOutput/web.config
/BackendCoreApi/bin/Release/netcoreapp2.0/BackendCoreApi.deps.json
/BackendCoreApi/bin/Release/netcoreapp2.0/BackendCoreApi.dll
/BackendCoreApi/bin/Release/netcoreapp2.0/BackendCoreApi.pdb
/BackendCoreApi/bin/Release/netcoreapp2.0/BackendCoreApi.runtimeconfig.dev.json
/BackendCoreApi/bin/Release/netcoreapp2.0/BackendCoreApi.runtimeconfig.json
/BackendCoreApi/obj/BackendCoreApi.csproj.nuget.cache
/BackendCoreApi/obj/BackendCoreApi.csproj.nuget.g.props
/BackendCoreApi/obj/BackendCoreApi.csproj.nuget.g.targets
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.AssemblyInfo.cs
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.AssemblyInfoInputs.cache
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.PrecompiledViews.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.PrecompiledViews.pdb
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.csproj.CopyComplete
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.csproj.CoreCompileInputs.cache
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.csproj.FileListAbsolute.txt
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.csprojAssemblyReference.cache
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/BackendCoreApi.pdb
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/ApplicationHealth.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/ApplicationHealth.pdb
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.PrecompiledViews.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.PrecompiledViews.pdb
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.deps.json
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.pdb
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/BackendCoreApi.runtimeconfig.json
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/NuGet.Frameworks.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/System.Composition.AttributedModel.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/System.Composition.Convention.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/System.Composition.Hosting.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/System.Composition.Runtime.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/System.Composition.TypedParts.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/appsettings.Development.json
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/appsettings.json
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
/BackendCoreApi/obj/Debug/netcoreapp2.0/PubTmp/Out/web.config
/BackendCoreApi/obj/Debug/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.AssemblyInfo.cs
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.AssemblyInfoInputs.cache
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.PrecompiledViews.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.PrecompiledViews.pdb
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.csproj.CoreCompileInputs.cache
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.csproj.FileListAbsolute.txt
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.csprojAssemblyReference.cache
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.csprojResolveAssemblyReference.cache
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/BackendCoreApi.pdb
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.PrecompiledViews.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.PrecompiledViews.pdb
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.deps.json
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.pdb
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/BackendCoreApi.runtimeconfig.json
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/NuGet.Frameworks.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/System.Composition.AttributedModel.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/System.Composition.Convention.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/System.Composition.Hosting.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/System.Composition.Runtime.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/System.Composition.TypedParts.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/appsettings.Development.json
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/appsettings.json
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
/BackendCoreApi/obj/Release/netcoreapp2.0/PubTmp/Out/web.config
/BackendCoreApi/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/BackendCoreApi/obj/project.assets.json
/BusinessLogic/bin/Debug/netcoreapp2.0/ApplicationHealth.dll
/BusinessLogic/bin/Debug/netcoreapp2.0/ApplicationHealth.pdb
/BusinessLogic/bin/Debug/netcoreapp2.0/BusinessLogic.deps.json
/BusinessLogic/bin/Debug/netcoreapp2.0/BusinessLogic.dll
/BusinessLogic/bin/Debug/netcoreapp2.0/BusinessLogic.pdb
/BusinessLogic/obj/BusinessLogic.csproj.nuget.cache
/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.AssemblyInfo.cs
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.AssemblyInfoInputs.cache
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.csproj.CopyComplete
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.csproj.CoreCompileInputs.cache
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.csproj.FileListAbsolute.txt
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.csprojAssemblyReference.cache
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.dll
/BusinessLogic/obj/Debug/netcoreapp2.0/BusinessLogic.pdb
/BusinessLogic/obj/project.assets.json
